<div class="modal fade search-modal" id="search-modal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div id="search" class="s-search mx-auto my-4">
                    <div id="search-list" class="hide-type-list">
                        <div class="s-type">
                            <span></span>
                            <div class="s-type-list">
                                <label for="m-type-google" data-id="group-search"><span>搜索</span></label>
                                <label for="m-type-zhipin" data-id="group-job"><span>求职</span></label>
                            </div>
                        </div>
                        <div class="search-group group-search"><span class="type-text text-muted">搜索</span>
                            <ul class="search-type">
                                <li><input hidden="" type="radio" name="type2" id="m-type-google"
                                        value="https://www.google.com/search?q=" data-placeholder="谷歌搜索">
                                    <label for="m-type-google"><span class="text-muted">谷歌</span></label>
                                </li>

                                <li><input hidden="" type="radio" name="type2" id="m-type-bing"
                                        value="https://cn.bing.com/search?q=" data-placeholder="微软 Bing 搜索">
                                    <label for="m-type-bing"><span class="text-muted">必应</span></label>
                                </li>

                                <li><input hidden="" type="radio" name="type2" checked="checked" id="m-type-baidu"
                                        value="https://www.baidu.com/s?wd=" data-placeholder="百度一下，你就知道">
                                    <label for="m-type-baidu"><span class="text-muted">百度</span></label>
                                </li>

                                <li><input hidden="" type="radio" name="type2" id="m-type-zhihu"
                                        value="https://www.zhihu.com/search?type=content&q=" data-placeholder="知乎">
                                    <label for="m-type-zhihu"><span class="text-muted">知乎</span></label>
                                </li>

                                <li><input hidden="" type="radio" name="type2" id="m-type-wechat"
                                        value="https://weixin.sogou.com/weixin?type=2&query=" data-placeholder="微信">
                                    <label for="m-type-wechat"><span class="text-muted">微信</span></label>
                                </li>

                                <li><input hidden="" type="radio" name="type" id="m-type-pubmed"
                                        value="https://pubmed.ncbi.nlm.nih.gov/?term="
                                        data-placeholder="PubMed 搜索/文章标题/关键字">
                                    <label for="m-type-pubmed"><span class="text-muted">文献</span></label>
                                </li>
                            </ul>
                        </div>
                        <div class="search-group group-job"><span class="type-text text-muted">求职</span>
                            <ul class="search-type">
                                <li><input hidden="" type="radio" name="type2" id="m-type-zhipin"
                                        value="https://www.zhipin.com/web/geek/job?query=" data-placeholder="BOSS 直聘">
                                    <label for="m-type-zhipin"><span class="text-muted">BOSS 直聘</span></label>
                                </li>

                                <li><input hidden="" type="radio" name="type2" id="m-type-lagou"
                                        value="https://www.lagou.com/jobs/list_" data-placeholder="拉钩网">
                                    <label for="m-type-lagou"><span class="text-muted">拉钩网</span></label>
                                </li>

                                <li><input hidden="" type="radio" name="type2" id="m-type-zhaopin"
                                        value="https://sou.zhaopin.com/jobs/searchresult.ashx?kw="
                                        data-placeholder="智联招聘">
                                    <label for="m-type-zhaopin"><span class="text-muted">智联招聘</span></label>
                                </li>

                                <li><input hidden="" type="radio" name="type2" id="m-type-51job"
                                        value="https://search.51job.com/?" data-placeholder="前程无忧">
                                    <label for="m-type-51job"><span class="text-muted">前程无忧</span></label>
                                </li>

                                <li><input hidden="" type="radio" name="type2" id="m-type-liepin"
                                        value="https://www.liepin.com/zhaopin/?key=" data-placeholder="猎聘网">
                                    <label for="m-type-liepin"><span class="text-muted">猎聘网</span></label>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <form action="https://nav.iowen.cn?s=" method="get" target="_blank" class="super-search-fm">
                        <input type="text" id="m-search-text" class="form-control smart-tips search-key" zhannei=""
                            autocomplete="off" placeholder="输入关键字搜索" style="outline:0">
                        <button type="submit"><i class="iconfont icon-search"></i></button>
                    </form>
                    <div class="card search-smart-tips" style="display: none">
                        <ul></ul>
                    </div>
                </div>
            </div>
            <div style="position: absolute;bottom: -40px;width: 100%;text-align: center;">
                <a href="javascript:" data-dismiss="modal"><i class="iconfont icon-close-circle icon-2x"
                        style="color: #fff;"></i></a>
            </div>
        </div>
    </div>
</div>